Week9/GSS7218_R1.dta
Week10/credentials.ini
Week11/PhilosophyTexts/Artistotle.txt
Week11/PhilosophyTexts/Descartes.txt
Week11/PhilosophyTexts/Dewey.txt
Week11/PhilosophyTexts/Hume.txt
Week11/PhilosophyTexts/Kant.txt
Week11/PhilosophyTexts/Locke.txt
Week11/PhilosophyTexts/Machiavelli.txt
Week11/PhilosophyTexts/Marx.txt
Week11/PhilosophyTexts/Mill.txt
Week11/PhilosophyTexts/Nietzsche.txt
Week11/PhilosophyTexts/Plato.txt
Week11/PhilosophyTexts/Thoreau.txt
